---
import { LoginButton } from '../components/login-button';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inventory">
	<main>
		<LoginButton client:load></LoginButton>
	</main>
</Layout>
